.card {
    background-color: #f1efef;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
  }
  
  .card .amount {
    font-size: 36px;
    font-weight: bold;
  }
  
  .card .percentage {
    color: green;
    font-size: 20px;
  }
  
  